<html xmlns:th="http://www.thymeleaf.org"
      th:remove="tag">
<div id="footer-links" class="fixed-sidebar-left fixed-bottom">
    <div id="footer-container" class="container">
        <div class="row">
            <div class="col md4">
            <a href="/donate" th:text="#{donate}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col md4">
            <a href="/upload" th:text="#{uploadFooter}"></a>
            </div>
            <div class="col md4">
            <a href="/sitemap" th:text="#{sitemap}"></a>
            </div>
        </div>
    </div>
</div>
</html>