<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<link rel="stylesheet" type="text/css" href="/css/navbar.css"/> <!-- Oli Headis, vaja üle checkida, kas õige nii -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div id="rakendus" class="navbar-header">
            <a class="navbar-brand" href="/">RAKENDUS</a>
        </div>
        <a id="test" role="button" class="btn btn-outline-secondary">test</a>
        <a role="button" class="btn btn-outline-secondary" href="/login">login</a>
    </div>
</nav>
</html>