#toiletpaper {
    max-width: 1188px;
    margin: auto;
}

.thumbcontainer {
    margin-left: 2px;
    margin-right: 2px;
}

.thumbImage {
    margin-bottom: 4px;
}

#template {
    max-width: 100%;
}

#itemContainer {
    text-align: center;
    position: relative;
    display: none;
    width: 100%;
}

body {
    background-color: #1c1c1c;
    color : #cccccc;
}


@media (max-width: 1300px) {
    #toiletpaper {
        max-width: 1056px
    }
}

@media (max-width: 1120px) {
    #toiletpaper {
        max-width: 924px
    }
}

@media (max-width: 980px) {
    #toiletpaper {
        max-width: 792px
    }
}

@media (max-width: 830px) {
    #toiletpaper {
        max-width: 660px
    }
}

@media (max-width: 690px) {
    #toiletpaper {
        max-width: 528px
    }
}

@media (max-width: 550px) {
    #toiletpaper {
        max-width: 396px
    }
}

@media (max-width: 396px) {
    #toiletpaper {
        max-width: 396px
    }
    .thumbImage {
        width: 33%;
        height: 33%;
        margin: 0;
    }
    .thumbcontainer {
        margin-left: 0;
        margin-right: 0;
    }
}