.navbar-brand {
    font-family: "Courier New", serif;
    color : #f7f7f7;
}

.navbar {
    background-color: #0c0c0c;
    opacity: 0.9;
}

nav {
    margin: auto;
}

#uLink {
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
    margin: 10px
}