#js-form {
    display: none;
}
#nojs-form {
    display: block;
}
#error-msg {
    display: none;
    font-weight: bold;
    color: #721c24;
}
/*#form {*/
    /*text-align: center;*/
/*}*/
form {
    text-align: center;
    display: inline-block;
    font-size: 2em;
}
#username {
    max-width: 15em;
}
.usernametextbox {
    align-content: center;
}