<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head" />
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stream.css"/>
    <!--   <script src="/js/index.js"></script>   -->
    <script src="/js/stream.js"></script>
</head>

<body>
<div id="toiletpaper">
    <th:block th:include="fragments/navbar" />
    <th:block th:include="fragments/stream" />
</div>
<th:block th:include="fragments/footer" />

</body>
</html>