<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <th:block th:include="fragments/head"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <!-- <script src="/js/index.js"></script>-->
    <title th:text="#{aboutUs}"></title>
</head>
<body>
<th:block th:include="fragments/footer"/>
<div id="toiletpaper">
    <th:block th:include="fragments/navbar"/>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2202.8977752787514!2d26.
713396479564956!3d58.378099306628954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eb36e1900
bfbf1%3A0x5a26b1670e99e751!2sJuhan+Liivi+2%2C+50409+Tartu!5e0!3m2!1sen!2see!
4v1539369565632" width="600" height="450" frameborder="0" allowfullscreen></iframe>

</div>


</body>
</html>