<!DOCTYPE html>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"/>
    <link rel="stylesheet" type="text/css" href="/css/register.css"/>
    <link rel="stylesheet" type="text/css" href="/css/help-tip.css"/>
    <script src="/js/register.js"></script>
    <title th:text="#{registrationPage}"></title>
</head>
<body>

<!--This frame is here to fool the form to not redirect the whole page-->
<iframe width="0" height="0" name="dummyframe" id="dummyframe"></iframe>
<div id="form">
    <form id="js-form" target="dummyframe">
        <label class="control-label" th:text="#{firstTimeLogin}" for="username"></label>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-auto pb-2 d-flex justify-content-center">
                <input type="text" class="form-control" id="username" name="username"/>
                <div class="help-tip">
                    <p th:text="#{helpUsername}"></p>
                </div>
            </div>
            <div class="col-sm-auto d-flex pb-2 justify-content-center">
                <button type="submit"
                        class="btn btn-primary btn-md" th:text="#{submit}">
                </button>
            </div>
            <div class="col-sm-auto d-flex pb-2 justify-content-center">
                <a role="button" class="btn btn-outline-warning btn-md" href="/logout" th:text="#{logOut}"></a>
            </div>
        </div>
        <div id="error-msg" th:text="#{nameTaken}"></div>
    </form>

    <form class="form-horizontal" id="nojs-form" th:method="POST" th:action="@{/register}">
        <div class="form-group form-group-lg">
            <div class="usernametextbox">
                <label class="col control-label" th:text="#{firstTimeLogin}" for="usernamenojs"></label>
                <input type="text" class="form-control" id="usernamenojs" name="username"/>
            </div>

        </div>

        <div class="form-group">

            <button type="submit"
                    class="btn btn-primary btn-lg" th:text="#{submit}">
            </button>
        </div>
    </form>
</div>
</body>
</html>
