<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/head"/>
    <link rel="stylesheet" type="text/css" href="/css/register.css"/>
    <script src="/js/register.js"></script>

</head>
<body>

<!--This frame is here to fool the form to not redirect the whole page-->
<iframe width="0" height="0" name="dummyframe" id="dummyframe"></iframe>
<div id="form">
    <form class="form-horizontal" id="js-form" target="dummyframe">
        <div class="form-group form-group-lg">
            <label class="col control-label" th:text="#{firstTimeLogin}" ></label>
            <div class="usernametextbox">
                <input type="text" class="form-control" name="username"/>
            </div>
        </div>

        <div class="form-group">
            <div id="error-msg" th:text="#{nameTaken}"></div>

            <button type="submit"
                    class="btn btn-primary btn-lg" th:text="#{submit}">
            </button>
        </div>
    </form>

<form class="form-horizontal" id="nojs-form" th:method="POST" th:action="@{/register}">
    <div class="form-group form-group-lg">
        <label class="col control-label" th:text="#{firstTimeLogin}"></label>
        <div class="usernametextbox">
            <input type="text" class="form-control" name="username"/>
        </div>

        </div>

        <div class="form-group">

            <button type="submit"
                    class="btn btn-primary btn-lg" th:text="#{submit}">
            </button>
        </div>
    </form>
</div>
</body>
</html>