<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" -->
<head>
    <th:block th:include="fragments/head" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
            integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ="
            crossorigin="anonymous"></script>
    <script src="js/statistics.js"></script>
</head>

<body>
<th:block th:include="fragments/navbar" />
<th:block th:include="fragments/footer" />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <canvas id="browserChart" width="400" height="400"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="osChart" width="400" height="400"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="trafficChart" width="400" height="100"></canvas>
        </div>
    </div>
</div>

</body>
</html>