<!DOCTYPE HTML>
<html th:lang="#{language_code}" xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" -->
<head>
    <th:block th:include="fragments/head"/>

    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/help-tip.css"/>
    <title th:text="#{uploadFooter}"></title>

    <!-- <script src="/js/index.js"></script> -->
</head>

<body>
<div id="toiletpaper">
    <th:block th:include="fragments/navbar"/>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form enctype="multipart/form-data" th:action="@{/upload}" th:method="POST">
                    <label th:text="#{uploadImg}"></label>
                        <input id="image-file" type="file" name="file"/>
                        <button type="submit"
                                class="btn btn-primary btn-lg" th:text="#{upload}">
                        </button>
                        <div class="help-tip">
                            <p th:text="#{helpUploadingPictures}"></p>
                        </div>
                </form>
            </div>
        </div>
        <div class="col-md">

        </div>
    </div>
</div>
<th:block th:include="fragments/footer"/>

</body>
</html>