<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" -->
<head>
    <th:block th:include="fragments/head"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/help-tip.css"/>

    <!-- <script src="/js/index.js"></script> -->
</head>

<body>
<div id="toiletpaper">
    <th:block th:include="fragments/navbar"/>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form enctype="multipart/form-data" th:action="@{/upload}" th:method="POST">
                    <input id="image-file" type="file" name="file"/>
                    <button type="submit"
                            class="btn btn-primary btn-lg" th:text="#{upload}">
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md">
            <div class="help-tip">
                <p>Your picture is uploaded to our database. How cool is that?</p>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments/footer"/>

</body>
</html>