<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"/>
    <link rel="stylesheet" type="text/css" href="/css/user.css"/>
    <title class="retrievedData"  th:text="${whosePage}"></title>
</head>

<body>
<div id="toiletpaper">   <!-- th:text="#{user}"  th:text="#{hasUploaded}"   th:text="#{images}"> -->
    <th:block th:include="fragments/navbar"/>
    <div id="userInfo">
        <p >
            <span th:text="#{user}" th:remove="tag"></span>
            <span class="retrievedData"  th:text="${whosePage}" ></span>
            <span th:text="#{hasUploaded}" th:remove="tag" ></span>
            <span class="retrievedData" th:text="${uploadCount}"> </span>
            <span th:text="#{images}" th:remove="tag"></span>
        </p>
    </div>
</div>
<th:block th:include="fragments/footer"/>


</body>
</html>